/* Container for Service (charts, data points, tables etc). */
.skystats-service-detail-container {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#D9FFFFFF, endColorstr=#D9FFFFFF );
	background-color: rgba( 255, 255, 255, 0.9 );
	display: none;
	margin-top: 20px;
	overflow: hidden;
	padding: 5px 20px 20px 20px;
}

/* Chart key/figure icons container */
#skystats-detail-chart-key-container {
	display: none;
	margin-bottom: 15px;
}

/* Detail header */
.skystats-detail-header {
	font-size: 1.5em;
	line-height: 1.3em;
}

/* Chart key/figure icons */
.skystats-detail-chart-key-icon {

}
.skystats-detail-chart-key-icon:not(:first-child) {
	margin-left: 20px;
}

/* Chart container */
.skystats-detail-chart-container {
	/*overflow-x: scroll;*/
	width: 100%;
}

.skystats-detail-icons {
	float: right;
}

/* Chart */
.skystats-detail-chart {
	cursor: crosshair;
	height: 300px;
	margin: 0;
	max-height: 300px;
	padding: 0;
	width: 100%;
}

/* Container for Detail Page Data Point Columns */
.skystats-service-detail-data-points-container {
	overflow: hidden;
}

/* The loading icon container for the data points */
.skystats-detail-data-points-loading-container {
	margin-top: 40px;
}

/* Data Point Column */
.skystats-service-detail-data-point-column {
	float: left;
	width: 15%;
	margin-top: 20px;
}

/* Data Point Column Header (contains text, icons) */
.skystats-service-detail-data-point-column-header {

}

/* Label denoting which Data Point it is */
.skystats-service-detail-data-point-column-header-label {
	font-size: 14px;
}

/* Data Point Column Content (contains value, icons) */
.skystats-service-detail-data-point-column-content {
	margin-top: 15px;
}

.skystats-service-detail-data-point-column-content-value {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
}

/* Data Point Column Footer (contains icons, change) */
.skystats-service-detail-data-point-column-footer {
	margin-top: 5px;
}

.skystats-service-detail-data-point-column-footer-change {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

/* Container for Detail Page Data Table Columns */
.skystats-service-detail-data-tables-container {
	margin-top: 20px;
	overflow: hidden;
}

/* Loading icons for each data table column */
.skystats-detail-data-table-column-loading-container {

}
.skystats-detail-data-table-column-loading-container:nth-child(odd) {
	margin-top: 40px;
}

/* Data table column row */
.skystats-detail-data-table-row {
	clear: both;
	overflow: hidden;
}

/* Data Table Column Container */
.skystats-service-detail-data-table-column {
	float: left;
	width: 50%;
}
.skystats-service-detail-full-width-data-table-column {
	width: 100%;
}

/* Data Table Column Content */
.skystats-data-table-column-content {
	display: none;
}

.skystats-service-detail-data-table {
	border: 1px solid #E5E5E5;
	border-spacing: 0;
	background: none !important;
}
.skystats-service-detail-data-table > thead > tr {
	text-align: left;
}
.skystats-service-detail-data-table > thead > tr th {
	background: #666 none;
	padding: 8px 10px;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
}
.skystats-service-detail-data-table > tbody > tr td:first-child {
	color: #6ca43d;
}

#skystats-date-range {
	display: none;
}

@media screen and ( min-width: 0px ) and ( max-width: 300px ) {
	.skystats-logo-container {
		margin-left: 15px;
	}
	#start_date, #end_date, #frequency {
		display: block;
		margin: 5px auto;
	}
	#date_range {
		margin-top: 5px;
	}
	.skystats-detail-header {
		font-size: 1.3em;
		line-height: 1.3em;
	}
}

@media screen and ( min-width: 250px ) and (max-width: 500px ) {
	.skystats-service-detail-data-table-column {
		width: 100%;
		overflow-x: scroll;
	}
	.skystats-service-detail-data-point-column {
		text-align: center;
		width: 100%;
	}
	.skystats-logo-container {
		margin-left: 15px;
	}
	#start_date, #end_date, #frequency {
		display: block;
		margin: 5px auto;
	}
	#date_range {
		margin-top: 5px;
	}
}

@media screen and ( min-width: 500px ) and ( max-width: 800px ) {
	.skystats-service-detail-data-table-column {
		width: 100%;
		overflow-x: scroll;
	}
	.skystats-service-detail-data-point-column {
		text-align: center;
		width: 33%;
	}
}

@media screen and ( min-width: 800px ) and ( max-width: 1300px ) {
	.skystats-service-detail-data-table-column {
		width: 100%;
	}
	.skystats-service-detail-data-point-column {
		text-align: center;
		width: 25%;
	}
}

@media screen and ( min-width: 1300px ) and ( max-width: 1600px ) {
}