/*
	Accordion
*/

#skystats-settings-accordion {
	margin: 0 auto 0 auto;
	width: 50%;
}

/* Accordion group header */
#skystats-settings-accordion .ui-accordion-header {
	line-height: 3.5em;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #d7d7d7;
	margin-top: 10px;
}

/* Inactive icon */
.skystats-accordion-header-icon {
	background-position: 0 -476px;
	width: 26px;
	height: 26px;
}

/* Active icon */
.skystats-accordion-header-active-icon {
	background-position: 0 -341px;
	width: 26px;
	height: 8px;
}

/* Accordion non-active group icon */
#skystats-settings-accordion .skystats-accordion-header-icon {
	top: 42% !important;
}

/* Accordion group headings with icons */
#skystats-settings-accordion .ui-accordion-icons {
	height: 50px;
	background: rgba( 255, 255, 255, 0.95 );
	padding-left: 2.8em;
}
.ui-accordion-content {
	background: rgba( 255, 255, 255, 0.9 );
}

/* Accordion group icons */
#skystats-settings-accordion .ui-icon {
	width: 25px;
	height: 24px;
}

/* Accordion group content */
#skystats-settings-accordion .ui-accordion-content {
	border: 0;
	border-radius: 0;
}

/*
	Forms
*/

.skystats-form-group {

}

.skystats-form-group:not(:first-child) {
	margin-top: 10px;
}

.skystats-form-label {
	font-weight: 300;
}

.skystats-form-control {
	width: 100%;
	height: 40px;
}

.skystats-form-help {
	font-style: italic;
	font-size: 12px;
}

.skystats-fieldset {
	border: 1px solid #ccc;
	padding: 10px;
}

.skystats-fieldset:not(:first-child) {
	margin-top: 20px;
}

.skystats-fieldset legend {
	font-size: 15px;
	font-weight: bold;
}

#save_settings {
	margin-top: 10px;
}

.skystats-setting-header {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
}

#skystats-settings-validate-license-loading-container {
	display: none;
	margin-top: 10px;
}

#skystats-successful-license-validation-request,
#skystats-unsuccessful-license-validation-request {
	display: none;
}

.skystats-setting-image-container {
	overflow: hidden;
}

/* Overlays bottom half of WP menu corectly (WP 3.8+) */
div.ui-widget-overlay.ui-front {
	z-index: 10000;
}
.ui-dialog {
	border: 0;
	border-radius: 0;
	padding: 0;
}
.ui-dialog-titlebar {
	border: 0;
	border-radius: 0;
	padding: 20px !important;
}
.ui-dialog-titlebar button {
	margin-right: 5px !important;
}

/* Save Settings Result Message */
#skystats-save-settings-result {
	display: none;
}

/* Save Settings Loading Container */
#skystats-settings-save-settings-loading-container {
	display: none;
}

/* Reload Settings */
#settings-reload {
	margin-top: 10px;
	display: none;
}

/*
    Upload Image
*/

/* Container */
.skystats-setting-image-upload-container {
	position: relative;
}

/* Upload Image button */
.skystats-upload-image-button {
	background-color: #72aa3f;
	margin-top: 5px;
}
.skystats-upload-image-button:hover {
	background-color: #689c3a;
	cursor: pointer;
}

/* Upload image input */
.skystats-upload-image {
	font-size: 20px;
	height: 34px;
	left: -1px;
	opacity: 0;
	position: absolute;
	top: 0;
}

/*
	CSS3 Media Queries
*/
@media screen and (max-width : 563px) {
	#skystats-settings-accordion {
		width: 100%;
	}
}